*{
  box-sizing: border-box;
}
body{
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen',sans-serif;
  text-shadow: 2px 2px 2px #aaa;

}
#header-nav{
  background-color: #f6b319;
  border-radius: 0;
  border: 0; 
}

#logo-img{
  background: url('https://cdn3.vectorstock.com/i/thumb-large/79/67/cafe-cup-logo-vector-36667967.jpg') no-repeat;
  height: 150px;
  width: 150px;
  background-size: contain;
  margin: 10px 10px 10px 0px;